# Ancient recipes
*/old.py
*/test_old.py

# Build
*.egg-info
build
dist

# Environments
.venv*

# IDE droppings
.idea

# Python droppings
__pycache__
*.pyc

# MacOS droppings
.DS_Store
